@import "bootstrap/scss/bootstrap";
//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  min-height: 100svh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.headTitle {
  text-align: center;
  font-size: 240%;
}

.headMessage {
  text-align: center;
  font-size: 120%;

  span {
    vertical-align: middle;
  }

  .impacted {
    text-shadow: 1px 1px 4px rgba(0, 130, 255, 0.7);
    font-size: 120%;
    font-weight: 400;
    margin: 0 0.3em;
  }
}


h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.ant-tag {
  font-family: 'Noto Sans JP', sans-serif;
}

ul, ol {
  li {
    margin-bottom: 0.5em;
  }
}