@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* color: #333; */
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  min-height: 100svh;
}

.lil-gui {
  font-family: 'Noto Sans JP', sans-serif;
}
.lil-gui .title, button {
    font-family: 'Noto Sans JP', sans-serif;
  }


.lil-gui.root > .children > .lil-gui > .title {
  background: #777;
  padding-left: var(--padding);
  color: var(--number-color);
}
.lil-gui .children .title {
  background: #444;
  padding-left: 1.5em;
}
